<div class="author">
    <h1 class="author__name">{{ author.firstName }} {{ author.lastName }}</h1>
    <p class="author__bio">{{ author.bio }}</p>
    <div class="actions">
        <a href="/author?id={{ author.id }}">View</a>
        {% if isAdmin %}
            <form class="deleteForm" style="display: none" action="/author/delete" method="POST">
                <input type="hidden" name="id" value="{{ author.id }}">
            </form>
            <a href="/author/update?id={{ author.id }}">Edit</a>
            <a href="#" class="delete">Delete</a>
        {% endif %}
    </div>
</div>